
@mixin anchor-color($color,$hover){
	a{
	color:$color;
		&:hover,&:focus{
			color:$hover;
			text-decoration:none;
			outline:0px;
			outline-offset:0px;
		}
	}
}

@mixin tx-shadow($color){
	text-shadow: -1px -1px 0 $color;
}

@mixin opacity($X){
	-webkit-opacity: $X;
	-ms-opacity: $X;
	-o-opacity: $X;
	-moz-opacity: $X;
	opacity: $X;
}

@mixin cursor{
	cursor:pointer;
}

@mixin border($wi,$ty,$col){
	border: $wi $ty $col;
}

@mixin tagline{
	position:absolute;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(0,0,0,0.45);
}

@mixin btn-theme($col,$btn,$hcol){
	color:$col;
	background-color:$btn;
	border-color: $btn;
	&:hover,&:focus{
		color:$col;
		background-color:$hcol;
		border-color: $hcol;
	}
}


@mixin full{
	height: 100%;
	width:100%;
}


@mixin transition($all,$time,$animation){
	-webkit-transition: $all $time $animation;
    -moz-transition: $all $time $animation;
    -o-transition: $all $time $animation;
    -ms-transition: $all $time $animation;
    transition: $all $time $animation;
}

@mixin transrotate($X){
	-webkit-transform:rotate($X);
	-ms-transform:rotate($X);
	-o-transform:rotate($X);
	-moz-transform:rotate($X);
	transform:rotate($X);
}

@mixin transcale($X){
	-webkit-transform:scale($X);
	-ms-transform:scale($X);
	-o-transform:scale($X);
	-moz-transform:scale($X);
	transform:scale($X);
}
@mixin transX($X){
	-webkit-transform:translateX($X);
	-ms-transform:translateX($X);
	-o-transform:translateX($X);
	-moz-transform:translateX($X);
	transform:translateX($X);
}
@mixin transY($Y){
	-webkit-transform:translateY($Y);
	-ms-transform:translateY($Y);
	-o-transform:translateY($Y);
	-moz-transform:translateY($Y);
	transform:translateY($Y);
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 47%}
    50%{background-position:100% 54%}
    100%{background-position:0% 47%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 47%}
    50%{background-position:100% 54%}
    100%{background-position:0% 47%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 47%}
    50%{background-position:100% 54%}
    100%{background-position:0% 47%}
}
@keyframes AnimationName { 
    0%{background-position:0% 47%}
    50%{background-position:100% 54%}
    100%{background-position:0% 47%}
}


//  @keyframes color-change {
// 	0% { color: #181818; }
// 	50% { color: #fff; }
// 	100% { color: #181818; }

// }
