//all typogrphay 
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,600,700');

h1,h2,h3,h4,h5,h6{
	margin: 0;
}	

a,a:hover,a:focus{
	@include transition(all,0.3s,ease-in-out);
}

.animated{
	animation-delay:0.5s;
	-webkit-animation-delay:0.5s;
	animation-duration:2s;
	-webkit-animation-duration:2s;
}
