// define variableand value;
$body-font:'Raleway', sans-serif;

$bodytx:#484848;

// $black:#000;

$white-tx:#fff;

// $black-tx:#313131;

//anchor
$anchor-color:#e4474a;

$anchor-color-h:#f31e21;

// $bor-color:#d7d7d7;

// $bga:#f3faff;

// $vio:#2d3985;

// $nav-c:#101010;

// $form-color:#888888;

// $nav-border:#c7c7c7;



// $hard-vio:#0082ff;

// $tooltip:#003467;

