/*=========================================================================
* Contributor:-
* Pradipta Sarker [axiomshuvo.com]
==========================================================================*/
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,600,700");
html, body {
  height: 100%;
  width: 100%; }

html {
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

.hidden {
  display: none !important; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

/* @preserve desing by axiomshuvo.com */
* html .clearfix {
  zoom: 1; }

/* IE6 */
*:first-child + html .clearfix {
  zoom: 1; }

/* IE7 */
@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
       http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /* desing by axiomshuvo.com */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus, :focus {
  outline: -webkit-focus-ring-color auto 0px; }

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 47%; }
  50% {
    background-position: 100% 54%; }
  100% {
    background-position: 0% 47%; } }
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 47%; }
  50% {
    background-position: 100% 54%; }
  100% {
    background-position: 0% 47%; } }
@-o-keyframes AnimationName {
  0% {
    background-position: 0% 47%; }
  50% {
    background-position: 100% 54%; }
  100% {
    background-position: 0% 47%; } }
@keyframes AnimationName {
  0% {
    background-position: 0% 47%; }
  50% {
    background-position: 100% 54%; }
  100% {
    background-position: 0% 47%; } }
h1, h2, h3, h4, h5, h6 {
  margin: 0; }

a, a:hover, a:focus {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.animated {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-duration: 2s;
  -webkit-animation-duration: 2s; }

body {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 1.42857143;
  font-weight: 400;
  color: #484848;
  position: relative; }

.btn-theme {
  color: #fff;
  background-color: #e4474a;
  border-color: #e4474a; }
  .btn-theme:hover, .btn-theme:focus {
    color: #fff;
    background-color: #f31e21;
    border-color: #f31e21; }
  .btn-theme:hover, .btn-theme:focus {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }

.sec-title {
  color: #5e5e5e; }

header {
  font-size: 18px; }

.main-menu {
  font-weight: 700; }
  .main-menu .nav-item {
    margin-left: 10px;
    margin-right: 10px; }

.products_slider_area {
  background-color: #ededed; }
  .products_slider_area .products_slider {
    height: 587px; }
    .products_slider_area .products_slider .swiper-pagination-bullets {
      top: 85%; }
    .products_slider_area .products_slider .swiper-pagination-bullet-active {
      background: #e4474a;
      height: 45px;
      border-radius: 5px; }

.single_product {
  padding: 30px 0; }
  .single_product .media-body {
    padding: 70px 0px; }
  .single_product h1 {
    color: #e4474a;
    font-size: 40px; }
  .single_product h4 {
    font-size: 18px; }
  .single_product .price {
    font-size: 60px;
    letter-spacing: -5px; }
    .single_product .price span {
      font-size: 18px;
      margin-right: 10px; }

.feature_products {
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative; }
  .feature_products .card .card-top {
    background-color: #f3f3f3;
    min-height: 450px; }
  .feature_products .card .card-title {
    color: #a7a7a7; }
  .feature_products .card .offer {
    color: #e4474a; }
  .feature_products .card .price {
    font-size: 30px;
    font-weight: 600; }
  .feature_products .card .card-body {
    border-width: 3px !important; }
  .feature_products .swiper-button-next, .feature_products .swiper-button-prev {
    top: 15%;
    color: #b8b8b8; }
    .feature_products .swiper-button-next:hover, .feature_products .swiper-button-next:focus, .feature_products .swiper-button-prev:hover, .feature_products .swiper-button-prev:focus {
      color: #e4474a; }
  .feature_products .swiper-button-next {
    right: 7%; }
    .feature_products .swiper-button-next::after {
      font-size: 30px;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f105"; }
  .feature_products .swiper-button-prev {
    left: auto;
    right: 9%; }
    .feature_products .swiper-button-prev::after {
      font-size: 30px;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f104"; }

.newslatter {
  background: #e4474a;
  color: #fff; }

.review {
  min-height: 581px;
  background-blend-mode: revert;
  background-image: url(../../images/testimonial_bg.png);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff; }
  .review .review_slider {
    min-height: 250px; }
    .review .review_slider .swiper-pagination-bullet {
      height: 12px;
      width: 12px;
      background: #fff;
      opacity: 0.7; }
    .review .review_slider .swiper-pagination-bullet {
      margin: 0 6px; }
    .review .review_slider .swiper-pagination-bullet-active {
      background: #e4474a; }
  .review .customer_review {
    font-size: 24px; }

footer {
  background-color: #eeeeee; }
  footer .copyright {
    font-size: 18px;
    color: #a8a8a8;
    padding-top: 10px; }
  footer .social .list-inline-item {
    margin-right: 1.3rem; }
  footer .social a {
    color: #929292;
    font-size: 25px; }

/*# sourceMappingURL=style.css.map */
